.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
  background-color: black;
  font-family: 'Nerko One', cursive;
  font-size: larger;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #9efcff;
}

#footer p {
  margin: 0;
  font-size: 16px;
  color: black;
}

p{
  color: white;
}


h1, h2{
  color: white;
  text-align: center;
}

.container{
  background-color: rgba(0, 0, 0, 0.925);
  background-size: auto;
  
}

#heading h1{
  text-align: center;
  color: rgb(255, 255, 255) ;
  
}

.panel{
  background-color: lightblue;
  color: black;
  text-align: center;
  border-style: solid;
  border-color: rgb(255, 234, 118);
  padding: 5px;
}

.panel h3{
  color: white;
}

.panel1{
  background-color: rgb(255, 163, 250);
  border-style: solid;
  border-color: rgb(255, 234, 118);
  padding: 10px;
}

.panel1 p{
  color: black;
}