.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
  background-color: black;
  font-family: 'Nerko One', cursive;
  font-size: larger;
  background-image: url('https://raw.githubusercontent.com/skumble27/D3-challenge/main/images/11b6769c8f2ea91b25fa0bb10bcaf4ab.jpg');
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
}

#footer p {
  margin: 0;
  font-size: 16px;
  color: black;
}

p{
  color: white;
}

h1, h2{
  color: white;
}

.container{
  background-color: rgba(0, 0, 0, 0.466);
}